{{#block "header"}}
    <!DOCTYPE HTML>
    <html>
    <head>
        <title>{{#block "title"}}Wildlife{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<!--        <link rel="stylesheet" href="/style.css">-->
        </title>
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/animals">Animals</a></li>
                <li class="nav-item"><a href="/endangered">Endangered</a></li>
                <li class="nav-item"><a href="/sightings">Sightings</a></li>
            </ul>
        </nav>

    <br>
    <div class="row">
        <div class="col-md-4">
            <img src="https://wallpapercave.com/wp/wp2900284.jpg"   width="100%">
        </div>
    <div class="row">
        <div class="col-md-4">
            <img src="https://wallpapercave.com/wp/wp1171872.jpg"   width="100%">
        </div>
    <div class="row">
        <div class="col-md-4">
            <img src="https://wallpapercave.com/wp/wp2900405.jpg"   width="100%">
        </div>




{{/block}}


{{#block "content"}}{{/block}}

    <!-- end inner template-->
{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}